.card-list {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.re-card-list {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;

  .re-card {
    & .re-cardItem {
      background: white;
      font-family: Inter, sans-serif;
      display: flex;
      justify-content: left;
      border-radius: 15px;

      & .re-image-box {
        padding-top: 10px;
        text-align: center;
        width: 18rem;
        height: 15.5rem;
        overflow: hidden;

        & img {
          width: auto;
          height: 90%
        }
        & img:hover {
          transform: scale(1.07);
        }
      }
      & .re-info-box {
        padding-top: 10px;
        margin-left: 20px;
        font-weight: 600;

        & .re-info-box_price {
          margin-top: 10px;
        }
      }
      & .re-btn-box {
        position: relative;
        margin-top: 20px;
        right: 20px;
        display: flex;
        align-self: end;

        & .re-btn-item {
          border-radius: 15px;
          border: none;
          padding: 5px;
          width: 150px;
          background: #1b8bf1;
          color: white;
          font-size: 17px;
          font-weight: 400;
          margin: 10px;
        }
        & .re-btn-remove {
          border: none;
          padding: 5px;
          width: 100%;
          background: #1b8bf1;
          color: white;
          font-size: 17px;
          font-weight: 400;
        }
        & .re-btn-item:hover {
          background: #0275d8;
        }
        & .re-btn-left {
        }

        & .re-btn-right {
        }
      }
    }
  }
}
.card {
  & .cardItem {
    background: white;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;

    & .image-box {
      margin: 0 auto;
      text-align: center;
      width: 18rem;
      height: 15.5rem;
      overflow: hidden;

      & img {
        width: auto;
        height: 90%
      }
      & img:hover {
        transform: scale(1.07);
      }
    }
    & .info-box {
      margin-left: 20px;
      font-weight: 600;

      & .info-box_price {
        margin-top: 10px;
      }
    }
    & .btn-box {
      margin-top: 20px;
      bottom: 0;
      & .btn-item {
        border: none;
        padding: 5px;
        width: 50%;
        background: #1b8bf1;
        color: white;
        font-size: 17px;
        font-weight: 400;
      }
      & .btn-remove {
        border: none;
        padding: 5px;
        width: 100%;
        background: #1b8bf1;
        color: white;
        font-size: 17px;
        font-weight: 400;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      & .btn-item:hover {
        background: #0275d8;
      }
      & .btn-left {
        border-bottom-left-radius: 15px;
      }

      & .btn-right {
        border-left: white 1px solid;
        border-bottom-right-radius: 15px;
      }
    }
  }
}
