.modal-card {
  width: 300px;

  .modal-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    img {
      width: 200px;
      height: auto;
    }
  }

  .modal-content {
  }

  .modal-footer {
    margin-top: 24px;
  }

  .modal-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 8px;
  }

  .modal-price {
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .modal-button_wrapper {
    & .modal-btn {
      border: none;
      padding: 7px;
      width: 50%;
      background: #1b8bf1;
      color: white;
      font-size: 17px;
      font-weight: 400;
      border-radius: 15px;
    }
    & .modal-btn:hover {
      background: #0275d8;
    }
  }
}