.no-items_box {
  width: 100%;

  & .no-items_box__text {
    font-family: Inter, sans-serif;
    font-size: 32px;
    padding-top: 7rem;
    text-align: center;
    color: #64696e;
    font-weight: 500;
  }
}

