.cart-form {
  display: block;
}
.nice-form-group {
  width: 70%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  margin: 0.4rem;
}

.error-message {
  padding: 10px;
  font-family: Inter, sans-serif;
  color: red;
  font-size: 0.9rem;
}