.checkout-main {
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 20px;
  gap: 30px;

  & .checkout-form {
    height: 100%;
    width: 100%;
  }
  & .checkout-list {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}

.form-oder-sum {
  font-family: Inter, sans-serif;
  font-size: 22px;
  color: #64696e;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-oder-sum_usd {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #64696e;
  font-weight: 400;
  margin-bottom: 20px
}