.header {
  background: white;
  width: 100%;
  height: 50px;
  padding-bottom: 10px;

  & .header-content {
    padding-right: 30px;
    padding-left: 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    position: relative;

    & .header-logo {
      font-size: 24px;
      font-weight: 400;
      height: 100%;
      display: flex;
      align-items: center;

      & svg {
        margin-right: 20px;
        width: 30px;
        height: 30px;
      }
    }
    & .header-buttons {
      margin-right: 20px;
      padding-top: 10px;
      display: flex;
      align-items: center;

      & .btn {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border: 0 solid;
        font-size: 20px;
        margin: 10px;
        padding: 10px;
        border-radius: 14px;
        position: relative;
        & .header-counter {
          font-family: Inter, sans-serif;
          font-size: 11px;
          position: absolute;
          top: 0;
          right: 0;
          font-weight: 500;
        }
        & svg {
          height: 22px;
          width: 22px;
        }
      }
      & .btn:hover {
        background-color: rgba(18, 18, 18, 0.11);
      }
      & .shop-cart {
        position: absolute;
        top: 70px;
        right: 70px;
        width: 450px;
        min-height: 100px;
        z-index: 10;
        border-radius: 15px;
      }
    }
  }
}

.cart {
  width: 100%;
  height: 100px;

  & .cart-item {
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100%;
    background: lavender;

    & .cart-box {
      padding: 20px;
    }
    & .cart-img-box {
      padding-top: 1px;
      margin: 0 auto;
      text-align: center;
      width: auto;
      height: 100%;
      justify-content: center;
      background: lavender;

      & img {
        width: auto;
        height: 90%
      }
    }
  }
}

.change-theme-btn {
  font-family: Inter, sans-serif;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

.cart-btn-off {
  background: none;
  border: none;
}