.footer {
  height: 50vh;
  width: 100%;
  background: lavender;
  position: relative;
  display: grid;
  grid-template-columns: (60% 40%);
  font-family: Inter;

  & .footer-img {
    position: absolute;
    height: 80%;
    width: auto;
    right: 0;
    bottom: 0;
  }
}

.footer-content {
  margin: 5px;
  padding-top: 70px;
  padding-right: 60px;
  padding-left: 70px;

  & .footer-title {
    font-size: 25px;
    padding-bottom: 30px;
  }
  & .footer-text {
    font-size: 21px;
  }
  & .footer-resources {
    padding-bottom: 10px;
    position: absolute;
    font-size: 14px;
    bottom: 0;
  }
}


